---
layout: default
title: Streamdata.io API Gallery
---
44

{% assign path_count = 0 %}
{% assign topics = site.data.topics | sort: 'label' %}
{% for topic in topics %}
  {% assign path_count = path_count | plus: topic.paths %}
{% endfor %}

{% assign topic_count = 0 %}
{% assign topics = site.data.topics | sort: 'label' %}
{% for topic in topics %}
  {% assign topic_count = topic_count | plus: 1 %}
{% endfor %}

{% assign org_count = 0 %}
{% assign organizations = site.data.organizations | sort: 'label' %}
{% for organization in organizations %}
  {% assign org_count = org_count | plus: 1 %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding">
  <h1 class="shortMasthead__headline enterAnimation enterAnimation--active" data-enter-animation="">{{ page.title }}</h1>
  <p align="center"><strong>{{ org_count }} entities with {{ path_count }} API paths spanning {{ topic_count }} topics</strong></p>
</div>
