---
layout: default
title: Streamdata.io API Gallery
---
33
<style>
  .center {
      margin: auto;
      width: 50%;
      border: 0px solid #FFF;
      padding: 10px;
  }
  ul{
    width:760px;
    overflow:hidden;
  }
  li{
    line-height:1.5em;
    float:left;
    display:inline;
  }
  #double li  { width:50%;}
  #triple li  { width:33.333%; }
  #quad li    { width:25%; }
  #six li     { width:16.666%; }
</style>

<script>
  function displayLayout($topiccloud,$topiclist,$orgcloud,$orglist)
    {
    document.getElementById("topicTagCloud").style.display=$topiccloud;
    document.getElementById("topicList").style.display=$topiclist;
    document.getElementById("orgTagCloud").style.display=$orgcloud;
    document.getElementById("orgList").style.display=$orglist;
    }
</script>

{% assign path_count = 0 %}
{% assign topics = site.data.topics | sort: 'label' %}
{% for topic in topics %}
  {% assign path_count = path_count | plus: topic.paths %}
{% endfor %}

{% assign topic_count = 0 %}
{% assign topics = site.data.topics | sort: 'label' %}
{% for topic in topics %}
  {% assign topic_count = topic_count | plus: 1 %}
{% endfor %}

{% assign org_count = 0 %}
{% assign organizations = site.data.organizations | sort: 'label' %}
{% for organization in organizations %}
  {% assign org_count = org_count | plus: 1 %}
{% endfor %}

<div class="shortMasthead  shortMasthead--extra-top-padding">
  <h1 class="shortMasthead__headline enterAnimation enterAnimation--active" data-enter-animation="">{{ page.title }}</h1>
  <p align="center"><strong>{{ org_count }} entities with {{ path_count }} API paths spanning {{ topic_count }} topics</strong></p>
</div>
