---
layout: default
title: Streamdata.io API Gallery
---

<div class="shortMasthead  shortMasthead--extra-top-padding ">
   <div class="shortMasthead__container">
     {% include api-listing-feature.html %}
   </div>
</div>

<section class="taggedLinkCards">

  {% assign navigation = site.data.navigation | sort: 'label' %}
  <div id="gallerycloud" class="wordcloud">
    {% for nav in navigation %}<span data-weight="{{ nav.paths }}"><a href="http://{{ nav.slug }}.streamdata.gallery" target="_blank">{{ nav.label }}</a></span>{% endfor %}
  </div>

  <script>
  $(document).ready(function(){
      $("#gallerycloud").awesomeCloud({
        "size" : {
          "grid" : 8, // word spacing, smaller is more tightly packed
          "factor" : 0, // font resize factor, 0 means automatic
          "normalize" : false // reduces outliers for more attractive output
        },
        "color" : {
          "background" : "rgba(255,255,255,0)", // background color, transparent by default
          "start" : "#20f", // color of the smallest font, if options.color = "gradient""
          "end" : "rgb(200,0,0)" // color of the largest font, if options.color = "gradient"
        },
        "options" : {
          "color" : "random-dark", // random-light, random-dark, gradient
          "rotationRatio" : 0, // 0 is all horizontal, 1 is all vertical
          "printMultiplier" : 3, // set to 3 for nice printer output; higher numbers take longer
          "sort" : "highest" // highest, lowest or random
        },
        "font" : "'Times New Roman'", //  the CSS font-family string
        "shape" : "square" // circle, square, star or a theta function describing a shape
      });
  });
  </script>

</section>
<div class="submitApi__overflowContainer" data-submit-api="">
   <div class="submitApi submitApi--left-hand-image">

     {% include api-listing-submit.html %}

   </div>
</div>
