<section class="filterTags" data-filter-tags="">
   <div class="filterTags__container">

     <form>
     <strong>Filter By:</strong>
     <select name="filter" id="tagfilter">
     {% assign navigation = site.data.navigation | sort: 'label' %}
     {% for nav in navigation %}}
         <option value="https://streamdata-gallery.github.io/apis/{{ nav.slug }}/apis/"{% if nav.slug == tag_slug %} selected{% endif %}>{{ nav.label }}</option>
    {% endfor %}
     </select>
     <input type="button" onclick="filterbytag();" name="filter_by" value="Go" />
   </form>

   <script>
    function filterbytag()
      {
      url = document.getElementById('tagfilter').value;
      //alert(url);
      location.href = url;
      }
   </script>

   </div>
</section>
