---
layout: default
title: Streamdata.io API Gallery
---

<style>

  .topiclisting {
    width:100%;
    height: 350px;
    overflow: auto;
  }

  .topiclisting ul{

  }
  .topiclisting ul li{
    line-height:1.5em;
    float:left;
    display:inline;
  }

  .organizationlisting {
    width:100%;
    height: 350px;
    overflow: auto;
  }
  .organizationlisting ul{
  }
  .organizationlisting ul li{
    line-height:1.5em;
  }

  #double li  { width:50%;}
  #triple li  { width:33.333%; }
  #quad li    { width:25%; }
  #six li     { width:16.666%; }
</style>

{% assign path_count = 0 %}
{% assign topics = site.data.topics | sort: 'label' %}
{% for topic in topics %}
  {% assign path_count = path_count | plus: topic.paths %}
{% endfor %}

{% assign topic_count = 0 %}
{% assign topics = site.data.topics | sort: 'label' %}
{% for topic in topics %}
  {% assign topic_count = topic_count | plus: 1 %}
{% endfor %}

{% assign org_count = 0 %}
{% assign organizations = site.data.organizations | sort: 'label' %}
{% for organization in organizations %}
  {% assign org_count = org_count | plus: 1 %}
{% endfor %}
<br />
<section class="imageMasthead imageMasthead--content-left">
  <div class="imageMasthead__content-side">
    <div class="imageMasthead__content-container">
      <div class="imageMasthead__content-wrap">
        <h1 class="imageMasthead__heading enterAnimation" data-enter-animation>API Gallery Topics</h1>
        <h2 class="imageMasthead__subheading enterAnimation" data-enter-animation>We've broken down {{ path_count }} API paths into <a href="http://topics.api.gallery.streamdata.io/">{{ topic_count }} topics</a>.</h2>
        <div class="imageMasthead__body enterAnimation" data-enter-animation>

          <div class="topiclisting">
            <ul id="double" style="padding-top: 10px; padding-left: 20px;">
              {% for topic in topics %}
                <li>&rarr; <a href="{{ topic.url }}" target="_blank">{{ topic.label }}</a></li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="imageMasthead__image-side enterAnimation" data-enter-animation>
    <div class="imageMasthead__image-wrap">
      <a href="http://topics.api.gallery.streamdata.io/"><img src="/assets/streamdata-api-gallery-topics.png" alt="" class="imageMasthead__image"></a>
    </div>
  </div>
</section>

<section class="iconGridPanel iconGridPanel--cut_off_top ">
  <div class="iconGridPanel__container">
    <h3 class="iconGridPanel__headline">API Definition-Driven</h3>
    <div class="iconGridPanel__grid">
      <div class="iconGridPanel__item enterAnimation" data-enter-animation>
        <div class="iconGridPanel__item__icon-wrap">
          <img class="iconGridPanel__item__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/openapi-icon-100.png" alt="">
        </div>
        <div class="iconGridPanel__item__content-wrap">
          <h4 class="iconGridPanel__item__headline">OpenAPI</h4>
          <h5 class="iconGridPanel__item__subheadline"></h5>
          <p class="iconGridPanel__item__body">Defining the surface area of each API we are profiling in the gallery.</p>
          <a href="http://openapis.org" class="iconGridPanel__item__link">Learn More</a>
        </div>
      </div>
      <div class="iconGridPanel__item enterAnimation" data-enter-animation>
        <div class="iconGridPanel__item__icon-wrap">
          <img class="iconGridPanel__item__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/postman-icon-100.png" alt="blog icon">
        </div>
        <div class="iconGridPanel__item__content-wrap">
          <h4 class="iconGridPanel__item__headline">Postman Collection</h4>
          <h5 class="iconGridPanel__item__subheadline"></h5>
          <p class="iconGridPanel__item__body">Making the API executable in one click using the Postman client.</p>
          <a href="https://www.getpostman.com/docs/v6/postman/collections/creating_collections" class="iconGridPanel__item__link">Learn More</a>
        </div>
      </div>
      <div class="iconGridPanel__item enterAnimation" data-enter-animation>
        <div class="iconGridPanel__item__icon-wrap">
          <img class="iconGridPanel__item__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/asyncapi-icon-100.png" alt="">
        </div>
        <div class="iconGridPanel__item__content-wrap">
          <h4 class="iconGridPanel__item__headline">AsyncAPI</h4>
          <h5 class="iconGridPanel__item__subheadline"></h5>
          <p class="iconGridPanel__item__body">Defining the real time message, event, and streaming APIs.</p>
          <a href="https://www.asyncapi.com/" class="iconGridPanel__item__link">Learn More</a>
        </div>
      </div>
      <div class="iconGridPanel__item enterAnimation" data-enter-animation>
        <div class="iconGridPanel__item__icon-wrap">
          <img class="iconGridPanel__item__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/api-commons-icon-100.png" alt="">
        </div>
        <div class="iconGridPanel__item__content-wrap">
          <h4 class="iconGridPanel__item__headline">APIs.json</h4>
          <h5 class="iconGridPanel__item__subheadline"></h5>
          <p class="iconGridPanel__item__body">Indexing the APIs and operations as a single collection.</p>
          <a href="http://apisjson.org" class="iconGridPanel__item__link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="imageMasthead imageMasthead--content-right">
  <div class="imageMasthead__image-side enterAnimation" data-enter-animation>
    <div class="imageMasthead__image-wrap">
      <a href="http://entities.api.gallery.streamdata.io/"><img src="/assets/streamdata-api-gallery-entities.png" alt="" class="imageMasthead__image"></a>
    </div>
  </div>
  <div class="imageMasthead__content-side">
    <div class="imageMasthead__content-container">
      <div class="imageMasthead__content-wrap">
        <h1 class="imageMasthead__heading enterAnimation" data-enter-animation>API Gallery Entities</h1>
        <h2 class="imageMasthead__subheading enterAnimation" data-enter-animation>We've profiled {{ path_count }} API paths from <a href="http://entities.api.gallery.streamdata.io/">{{ org_count }} entities</a>.</h2>
        <div class="imageMasthead__body enterAnimation" data-enter-animation>

          <div class="organizationlisting">
            {% assign organizations = site.data.organizations | sort: 'label' %}
            <ul style="padding-top: 10px; padding-left: 20px;">
              {% for organization in organizations %}
                <li>&rarr; <a href="{{ organization.url }}" target="_blank">{{ organization.label }}</a></li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="industriesPanel">
  <h2 class="industriesPanel__header">Real Time</h2>
  <p class="industriesPanel__body">Mapping the real time, event-driven opportunity across the API landscape.</p>
  <div class="industriesPanel__container">

    <div class="industriesPanel__box enterAnimation" data-enter-animation>
      <div class="industriesPanel__box-main">
        <h2 class="industriesPanel__box__header">StreamRank</h2>
        <img class="industriesPanel__box__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/streamdata-icon-100.png" alt="loan" />
        <p class="industriesPanel__box__body">APIs that have been identified to have a higher volume potential.</p>
      </div>
      <div class="industriesPanel__box-blur">
        <h2 class="industriesPanel__box__header">StreamRank</h2>
        <img class="industriesPanel__box__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/streamdata-icon-100.png" alt="loan" />
        <p class="industriesPanel__box__body">APIs that have been identified to have a higher volume potential for streaming.</p>
      </div>
      <div class="industries__hoverPanel" style="background: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);">
        <a class="industries__hoverPanelLink" href="http://streamrank.api.gallery.streamdata.io">
          <p class="industries__hoverCopy">View All StreamRanked APIs</p>
          <span class="industries__hoverLink">Have a look</span>
        </a>
      </div>
    </div>

    <div class="industriesPanel__box enterAnimation" data-enter-animation>
      <div class="industriesPanel__box-main">
        <h2 class="industriesPanel__box__header">AsyncAPIs</h2>
        <img class="industriesPanel__box__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/asyncapi-icon-100.png" alt="loan" />
        <p class="industriesPanel__box__body">APIs that offer a Server-Sent Events (SSE), Websocket, or other real time APIs.</p>
      </div>
      <div class="industriesPanel__box-blur">
        <h2 class="industriesPanel__box__header">AsyncAPIs</h2>
        <img class="industriesPanel__box__icon" src="https://s3.amazonaws.com/kinlane-productions/streamdata-api-gallery/asyncapi-icon-100.png" alt="loan" />
        <p class="industriesPanel__box__body">APIs that offer a Server-Sent Events (SSE), Websocket, or other real time APIs.</p>
      </div>
      <div class="industries__hoverPanel" style="background: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);">
        <a class="industries__hoverPanelLink" href="http://async.api.gallery.streamdata.io">
          <p class="industries__hoverCopy">View All AsyncAPIs</p>
          <span class="industries__hoverLink">Have a look</span>
        </a>
      </div>
    </div>

  </div>
</section>

<section class="masthead">
  <picture>
    <source srcset="https://streamdata.io/wp-content/uploads/2018/01/Homepage-bg.png" media="(min-width: 1024px)">
    <source srcset="https://streamdata.io/wp-content/uploads/2018/01/Homepage-bg.png" media="(min-width: 600px)">
    <img class="masthead__image" srcset="" alt="">
  </picture>
  <div class="masthead__container">
    <div class="masthead__content ">
      <h1 class="masthead__heading enterAnimation" data-enter-animation>
        The Streamdata.io API Gallery is Constantly Evolving and Changing!
      </h1>
      <h2 class="masthead__subheading enterAnimation" data-enter-animation>
        Make Sure To Return Often!
      </h2>
    </div>
  </div>
</section>
